<p style="color: green"><%= notice %></p>

<div data-controller="custom" data-action="click->custom#foo">
  <p>I am a p tag</p>
  <button>Greet</button>
</div>

<% content_for :title, "Posts" %>

<h1 class='display:block'>Posts</h1>

<div id="posts" class=''>
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>

